version: 2.1
orbs:
  codecov: codecov/codecov@4.1.0

aliases:
  - &docker
    - image: cimg/node:22.13

  - &environment
    TZ: /usr/share/zoneinfo/America/Los_Angeles

  - &restore_pnpm_cache
    restore_cache:
      name: Restore pnpm cache
      keys:
        - v1-pnpm-{{ arch }}-{{ .Branch }}-{{ checksum "pnpm-lock.yaml" }}
        - v1-pnpm-{{ arch }}-{{ .Branch }}-
        - v1-pnpm-{{ arch }}-

  - &install_pnpm
    run:
      name: Install pnpm
      command: sudo npm install -g pnpm@9.15.4

  - &run_pnpm_install
    run:
      name: Install Packages
      command: pnpm install --frozen-lockfile

  - &attach_workspace
    at: build

jobs:
  setup:
    docker: *docker
    environment: *environment

    steps:
      - checkout
      - run:
          name: Node.js Version
          command: node --version
      - *install_pnpm
      - *restore_pnpm_cache
      - *run_pnpm_install
      - save_cache:
          name: Save pnpm cache
          key: v1-pnpm-{{ arch }}-{{ .Branch }}-{{ checksum "pnpm-lock.yaml" }}
          paths:
            - ~/.local/share/pnpm/store

  build:
    docker: *docker
    environment: *environment

    steps:
      - checkout
      - *install_pnpm
      - *restore_pnpm_cache
      - *run_pnpm_install
      - run:
          name: Pre-release build
          command: pnpm run prerelease

  coverage:
    docker: *docker
    environment: *environment

    steps:
      - checkout
      - *install_pnpm
      - *restore_pnpm_cache
      - *run_pnpm_install
      - run:
          name: Run tests with coverage
          command: pnpm run test:ci
      - codecov/upload:
          file: 'coverage/lcov.info'

workflows:
  version: 2
  commit:
    jobs:
      - setup
      - build:
          requires:
            - setup
      - coverage:
          requires:
            - build
